.outerWrapper {
  background-color: #282828;
  width: 33vw;
  height: 33vw;
}

.innerWrapper {
  padding: 2vw;
  width: 100%;
  height: 100%;
}

.playground {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.5vw;
  grid-template-columns: repeat(3, 1fr);
}

.field {
  background-color: #282828;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.4s all ease;
}

.field.circle::after,
.field.cross::after {
  font-size: 6vw;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field.circle::after {
  content: "O";
}
.field.cross::after {
  content: "X";
}
